.react-confirm-alert-blur {
  filter: url(#gaussian-blur);
  filter: blur(1px);
  -webkit-filter: blur(1px);
  @media (max-width: 575px) {
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }
}
.react-confirm-alert-overlay {
  background: rgba(255, 255, 255, 0.3);
  @media (max-width: 575px) {
    background: rgba(255, 255, 255, 0.5);
  }
  z-index: 1500;
}
.confirm-btn {
  border-radius: 20px !important;
  width: 46%;
}
.confirm-container {
  width: 425px;
  text-align: center;
  border-radius: 10px;
  padding: 2rem;
  background: white;
  -webkit-box-shadow: 0 12px 30px -8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 12px 30px -8px rgba(0, 0, 0, 0.2);
  @media (max-width: 575px) {
    width: 330px;
    padding: 1rem;
  }
  h3 {
    font-size: 2.6rem;
    line-height: 1;
    font-weight: 700;
    padding-bottom: 1rem;
  }
  p {
    font-size: 1.2rem;
    padding-bottom: 2rem;
  }
}
.confirm-buttons {
  width: 90%;
  height: 3rem;
  margin-top: 1.5em;
  margin-right: auto;
  margin-left: auto;
}
