.customClass {
  border: 5px solid green;
  background-color: rgb(46, 52, 70);
  font-style: italic;
  border-radius: 20px;
  padding: 5px;
  color: rgb(207, 207, 207);
}
.customClass input {
  margin-left: -0.8rem;
}
.customClass label {
  margin-left: 10px;
}
.customClass2 {
  background-color: violet;
  color: black;
  border: 2px solid purple;
  font-weight: bold;
  text-transform: uppercase;
}

.customClass:hover {
  background-color: cornflowerblue;
}
